*{
	font-family: 'Oswald', sans-serif;
}
body{
	background-image:
	linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(dollars.jpg);
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
}
.box{
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	padding: 10vh;
	border-radius: 15px;
}
.box h1{
	padding: 0;
	margin: 0;
	color: #7fff00 ;
	font-size: 2rem;
}
.dolar-hoy{

}
.dolar-hoy p{
	font-size: 1.5rem;
}
.input{
	margin: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;

}

.input input{
	background-color: #079E2E;
	height: 25px;
}

.input button{
	margin: 10px;
	border-radius: 10px;
	background-color: #079E2E;
	height: 30px;
	width: 50px;
}
#de,#a{
	background-color: #079E2E;
	height: 35px;
	width: 60px;
	margin:  15px;
}
#resultado{
	color: #7fff00;
}

